<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <style>
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
    header{
      height:50vh;
      background:black url('https://markmurray.co/template/images/motorway-optimized.jpg');;
      background-size:cover;
      background-position:center;
      padding-top:30%;
      text-align:center;
    }
    
    .content{
      height:40vh;
      text-align:center;

    }
    footer{
      position:fixed;
      width:100%;
      height:10vh;
      background:navy;
      color:white;
      text-align:center;
      vertical-align:center;
      padding-top:4px;
      bottom:0;
    }
    h1{
      font-family:cursive;
      color:green;
      font-size:1.7em;
    }
    h2{
      font-family:monospace;
      color:brown;
      font-size:1em;
    }
    header h1{
    color:white;
    font-weight:bold;
    font-size:2.5em;
    }
    img{
      height:50%;
    }
  </style>
</head>
<body>
  <header>
    <h1>MY perfect Home</h1>
  </header>
  <div class='content'>
       <img src="clogo.png" alt='logo'>
    <h1>Thanks for signing up with us </h1>
    
    <h2> we hope to see you frequently on our site </h2>
    
  </div>
  <footer>
    <p>&copy; codezilla 2019</p>
  </footer>
</body>
</html>